header {
    background-color: $color-base;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .user-icon {
            width: fit-content;
            height: fit-content;
            max-width: 50px;
        }
    }
}
    