.item-cards-container {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    padding-bottom: 20px;

    .item-card {

        min-width: 400px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        background-color: $color-base;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        padding: 10px;
        max-width: 400px;
        max-height: 400px;

        &:hover {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.705);
            transition: box-shadow 0.5s ease 0s;
    
        }
    
        &:not(:hover) {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
            transition: box-shadow 0.5s ease 0s;
        }
         
        .item-img {
            border-radius: 5px 5px 5px 5px;
            height: 100px;
            //crop image
            object-fit: cover;
        }
    }
    .item-add {
        min-width: 400px;
        min-height: 400px;
        background-color: $color-white;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        border: 10px solid $color-base;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
            max-width: 100px;
        }
        &:hover {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.705);
            transition: box-shadow 0.5s ease 0s;
    
        }
    
        &:not(:hover) {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
            transition: box-shadow 0.5s ease 0s;
        }
    }
}
