$color-base: hsl(0, 0%, 17%);
$color-purple: #a175e8;
$color-white: #FFF;

/* === FONT WEIGHT === */
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;
